* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.container-body {
  padding: 20px;
}